@model CNTT_CLC2_NguyenDucThang63135414.Models.NhanVien

@{
    ViewBag.Title = "Edit";
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var fileupload = $("#Avatar");
            var image = $("#FileUpload");
            image.click(function () {
                fileupload.click();
            });
            fileupload.change(function () {
                var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
                document.getElementById("AnhNV").value = fileName;
            });
        });
    </script>
}

@using (Html.BeginForm("Edit", "Nhanviens", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card card-team ">
        <div class="card-header text-center">
            <h3>Chỉnh Sửa Thông Tin Nhân Viên @Html.DisplayFor(model => model.HoNV) @Html.DisplayFor(model => model.TenNV)</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.MaNV)

                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.HoNV, "Họ nhân viên", htmlAttributes: new { @class = "control-label" })
                        </strong>

                        @Html.EditorFor(model => model.HoNV, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoNV, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.GioiTinh, "Giới tính", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        <div class="d-flex">
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.GioiTinh, "True", new { @class = "form-check-input" })
                                <label class="form-check-label">Nam</label>
                            </div>
                            <div class="form-check ">
                                @Html.RadioButtonFor(model => model.GioiTinh, "False", new { @class = "form-check-input mx-2" })
                                <label class="form-check-label">Nữ</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.NgaySinh, "Ngày sinh", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.Luong, "Lương", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        @Html.EditorFor(model => model.Luong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Luong, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.TenNV, "Tên nhân viên", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.AnhNV, "Ảnh nhân viên", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        <div class="col-md-10 d-flex">
                            @Html.EditorFor(model => model.AnhNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AnhNV, "", new { @class = "text-danger" })

                            <input type="file" class="form-control mx-2" name="Avatar" id="Avatar" />
                        </div>

                    </div>

                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <strong>
                            @Html.LabelFor(model => model.MaPB, "Phòng ban", htmlAttributes: new { @class = "control-label" })
                        </strong>
                        @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaPB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <input type="submit" value="Save" class="btn btn-primary mx-auto" style="width: 60%" />
            <a href="@Url.Action("Index")" class="btn btn-success mx-auto" style="width: 20%">
                Quay lại danh sách
            </a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
